
/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500;600&display=swap');


    /* common styles*/

body{
    font-family: 'Poppins', sans-serif;
    
    padding-right: 100px;
    padding-left: 100px;
    overflow-x: hidden;
}
h1{
    font-size: 52px;


}
h2{
    font-size: 28px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 100px;


}
h3{
    font-size: 28px;

}
h4{
    font-family: 'Inter', sans-serif;
    
    font-size: 24px;
    font-weight:400;

}
p{
    font: 16px;

}
hr{
    padding:1px;
    
    background-color: orange;
    border: none;


}
span{
    font-size: 10px;


}

/* Nav-bar styles */
.navigation{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

}
.nav-bar a{
    padding-right: 20px;
    text-decoration: none;
    color: #3A3A3A;



}
 /* Influencer styles  */   

.first-container{
    
    display: flex;
    padding-bottom: 150px;
    
    
  


}
.influencer-details{

    margin-top: 70px;




}
.button{

    background-color: #E02C6D ;
    padding: 10px 24px;
    border-radius: 41px;
    text-decoration: none;
    color: white;
    

}


.influencer-image{
    padding-left:100px;
    
    border-radius: 50%;
    width: 50%;
    background-image: url(images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    

}


    /* external links  */
.external-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    


}



/* Grid container  */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    padding-bottom: 100px;
    padding-left: 80px;

}
.grid-cell{
    
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 329px;
    height: 500px;
    margin: 10px;
    padding: 10px;


}


    /* star styles */
.fa-star{
    font-size: 10px;
    width: 11.07px;
    height: 10.32px;
}
.fa-star,.filled{
    color: #FB8200;
   

}

.grid-cell>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    


}
.grid-cell-details{
    padding-left: 20px;



}

.grid-details{
    font-weight: bold;
    font-size: 14px;
    color: #787885;
    font-family: 'Inter', sans-serif;
    
}
.button2{
    display: block;
    position: relative;
    bottom: 0;
    left: 1000px;
    padding-top: 30px;
    
    
}
.button2-design{
    color: #E02C6D
    ;
text-decoration: none;

}


/* last container  */
.third-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 50px;

}

/* Footer  */

.ending{
    text-align: center;
    background-color: #0A0826
    ;
    color: white;
    padding: 30px;  

}
.ending-links{
    color: white;

}

   /* Responsivenss  */

@media only screen and (max-width:668px) {
body{
    padding-right:0;
    padding-left: 0;

}
.navigation{
    display: none;
}
.first-container{
    display:block;

}
.img-size{
    width: 100%;
}

.external-links{
    display: flex;
    flex-direction: column;

}
.grid-container{
    padding:0;
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.button2{
    display: block;
    position: relative;
    bottom: 0;
    left: 0px;
    padding: 0px;
}
.third-container{
    display: flex;
    flex-direction: column;

}
.ending{
    position: static;
    width: 300px;
    height: 211px;

}
.about-size{
    font-size: 30px;
}

}
