
/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500;600&display=swap');


    /* common styles*/

    body{
        font-family: 'Poppins', sans-serif;


    }
    h1{
        font-size: 52px;


    }
    h2{
        font-size: 28px;
        text-align: center;
        padding-bottom: 30px;


    }
    h3{
        font-size: 24px;

    }
    h4{
        font-family: 'Inter', sans-serif;
        
        font-size: 24px;
        font-weight:400;

    }
    p{
        font: 16px;

    }
    hr{
        padding:1px;
        margin-left: 100px;
        margin-right: 100px;
        background-color: orange;
        border: none;


    }
    span{
        font-size: 10px;


    }
/* Nav-bar styles */
.navigation{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}
.nav-bar a{
    padding-right: 20px;
    text-decoration: none;
    color: #3A3A3A;



}
 /* Influencer styles  */   

.first-container{
    
    display: flex;
    
    
  


}
.influencer-details{

       margin-top: 70px;




}
.button{

    background-color: #E02C6D ;
    padding: 10px 24px;
    border-radius: 41px;
    text-decoration: none;
    color: white;
    

}


.influencer-image{
    padding-left:100px;
    
    border-radius: 50%;
    width: 40%;
    background-image: url(images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    

}


    /* external links  */
.external-links{
   
    align-items: center;
    padding-left: 60px;
    
    


}
.external-links>a>img{
    padding-left: 100px;

}


    /* Grid container  */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}
    /* star styles */
.fa-star{
    font-size: 10px;
    width: 11.07px;
    height: 10.32px;
}
.fa-star,.filled{
    color: #FB8200
    ;
   

}
.grid-cell-details{
 


}
.grid-details{

    font-weight: 700;
    font-size: 14px;

    
}
.button2{
    padding-right: 50px;
text-align: right;
}


/* last container  */
.third-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);

}

/* Footer  */

.ending{
    text-align: center;
    background-color: #0A0826
    ;
    color: white;
    padding: 30px;  

}
.ending-links{
    color: white